services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: siam_api
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/siam
      - NODE_ENV=production
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: siam_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
