/* Lista de tarjetas de usuario en columna */
.RolHeader{
  width: 100vw;
  max-height: 92vh;
  
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge antiguos */
}

.asignarRol-container{
  margin: 60px 60px 60px 60px;
}
.asignarRol-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}
.asignarRol-input{
  margin-bottom: 10px;
  border:4px solid rgb(153, 153, 153);
  height: 50px;
}
/* Tarjeta de usuario horizontal */
.asignarRol-card {
  display: flex;
  flex-direction: row; /* horizontal */
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  background-color: #fbfbfb;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  gap: 15px;
}

.asignarRol-card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Contenido de la tarjeta alineado vertical dentro de cada sección */
.asignarRol-card-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1; /* ocupa el espacio disponible */
  text-align: left;
  
}
.asignarRol-card-info .space{
  width: 200px;
  margin: 0px;
}
.asignarRol-card-info .space2{
width: 350px;
margin: 0px;
}
.asignarRol-card-info .space3{
  width: 200px;
  margin: 0px;
}
.iconUser{
  font-size: 20px;
  margin-right: 5px;
}
.photoUser{
  width: 33px;
  height: 33px;
  color: rgb(40, 40, 179);
}

.asignarRol-select.caja{
  background-color: #1753c2;
  color: white;
}


/* Select y botón de eliminar */
.asignarRol-card-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

/* Select dentro de la tarjeta */
.asignarRol-card select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #414141;
  color: #fff;
}

/* Icono de eliminar */
.asignarRol-trash {
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
  display: flex;
  background-color: red;
  padding: 8px;
}

.asignarRol-trash:hover {
  transform: scale(1.2);
}

.headerRoles{
  display: flex;
  background-color: #414141;
  height: 4vw;
  justify-content: center;
  align-items: center; 
}
.asignarRol-title{
  color: white;
  font-size: 2vw;
}

.asignarRol-pagination .pagina-btn{
  background-color: #414141;
  padding: 5px;
  margin: 5px;
  color: white;
  border-radius: 10px;
}

.asignarRol-pagination{
  margin-top: 20px;
}

/* Responsive: en móviles la card pasa a vertical */
@media (max-width: 768px) {
  .asignarRol-card {
    flex-direction: column;
    align-items: flex-start;
    
  }

  .asignarRol-card-actions {
    width: 100%;
    align-items: flex-start;
  }
  .asignarRol-title{
  color: white;
  font-size: 4vw;
  }
  .headerRoles{
    height: 8vw;
  }
}
