.dashBack{
  
  min-height: 92vh;
  margin-top: 0;
  display: flex;
}
.dashboard-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  max-height: 92vh;
}
.dashboard-main{
  width: 100vw;
}
.dashboard-container{
  height: 92vh;
  background-color: rgb(248, 248, 248);
  display: flex;
}

/* Card individual */
.dashboard-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s, box-shadow 0.2s;
}

.dashboard-card{
  cursor: pointer;
}
/* Hover effect */
.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

/* Icono en el card */
.dashboard-card svg {
  margin-bottom: 12px;
  color: #4f46e5; /* color principal */
}

/* Titulo */
.dashboard-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #111827;
}

/* Descripcion */
.dashboard-card p {
  font-size: 0.95rem;
  color: #4b5563;
  margin-bottom: 15px;
}

/* Bot칩n */
.dashboard-card button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #4f46e5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Bot칩n hover */
.dashboard-card button:hover {
  background-color: #3730a3;
}

.dashboard-sidebar {
  width: 30vh;
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dashboard-sidebar h2 {
  font-size: 1.4rem;
  color: #1438da;
  margin-bottom: 10px;
}

.dashboard-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-sidebar li {
  padding: 6px;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  color: rgb(15, 36, 106);
  text-align: left;
}

.dashboard-sidebar li:hover {
  background-color: #f0f0f0;
}

/* Media query para pantallas peque침as */
@media (max-width: 500px) {
  .dashboard-sidebar {
    display: none; /* Oculta la sidebar */
  }

  .dashboard-main {
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  .dashboard-grid {
    padding: 10px; /* Ajuste del padding para m칩viles */
    grid-template-columns: 1fr; /* Una sola columna */
  }
}