.dashBack{
  
  min-height: 92vh;
  margin-top: 0;
  display: flex;
}
.main .dashboard-grid {
 
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px;
  
  max-height: 92vh;
   width: 100%;
  
}
.dashboard-main{
  width: 100%;
}
.dashboard-container{
  height: 92vh;
  background-color: rgb(248, 248, 248);
  display: wrap;
   width: 100%;
   overflow-y: auto;
   padding-bottom: 100px;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge antiguos */
}

/* Card individual */
.dashboard-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 10px 20px 20px 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  border-top: 20px solid rgb(83, 83, 83);
}

.dashboard-card{
  cursor: pointer;
}
/* Hover effect */
.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

/* Icono en el card */
.dashboard-card svg {
  margin-bottom: 12px;
  color: #4f46e5; /* color principal */
}

/* Titulo */
.dashboard-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #111827;
}

/* Descripcion */
.dashboard-card p {
  font-size: 0.95rem;
  color: #4b5563;
  margin-bottom: 15px;
}

/* Bot칩n */
.dashboard-card button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #4f46e5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Bot칩n hover */
.dashboard-card button:hover {
  background-color: #3730a3;
}


/* Media query para pantallas peque침as */
@media (max-width: 500px) {

  .dashboard-container {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  .dashboard-main {
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  .dashboard-grid {
    padding: 10px; /* Ajuste del padding para m칩viles */
    grid-template-columns: 1fr; /* Una sola columna */
  }
}