.drop-notification .dropdown-menu.show{
     width: auto!important;
     overflow: hidden;
     border-radius: 15px;
     padding: 18px;
     line-height: 15px;
     color: rgb(104, 104, 104); 
    
  }
  .drop-notification .dropdown-menu.show{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.164);
  }
  .drop-notification .img-box {
    width: 40px;
    border-radius: 25px;
  }
  .drop-notification button{

    border-color:white;
    border-radius: 100px;
    width: 40px;

  }

  .button-logout{ 
    text-align: center;
  }

  .button-logout button{
    color: rgb(104, 104, 104); 
  }
 

  .drop-notification p{
    font-size: 16px;
  }

  .img-box-perfil{
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .drop-notification .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: white;
    background-color: #f5f5f5;
    border-color: #ffffff;
  }

  .drop-notification .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d6d6d6;
    --bs-btn-hover-border-color: #f1f1f1;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #eeeeee;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d4d4d4;
    --bs-btn-disabled-border-color: #f5f5f5;
    padding: 0;
}

.dropdown-toggle::after {
  content: none!important;

}