.profile-container {
  display: flex;
  justify-content: flex-end; /* mueve el perfil a la derecha si está en un header */
  align-items: center;
  overflow: visible; /* evita que se oculte el menú */
}

/* Botón principal del dropdown */
.drop-notification button {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagen dentro del botón */
.drop-notification .img-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Menú del dropdown */
.drop-notification .dropdown-menu.show {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  width: auto !important;
  right: 0;
  left: auto !important;
}
.drop-notification p,.drop-notification h6 {
  color: rgb(56, 56, 56);
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
}

.drop-notification p{
  font-size: 14px;
}

/* Evita el ícono de flecha del botón */
.dropdown-toggle::after {
  content: none !important;
}

/* Botón de logout dentro del menú */
.button-logout {
  text-align: center;
  margin-top: 10px;
}

.buttonExit {
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #000;
  padding: 5px 40px;
  border-radius: 10px;
  overflow: hidden;
}

.button-logout button:hover {
  color: #000;
  cursor: pointer;
}
