@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  background-color: white!important;
}

.App{
  background-color: white!important;
}

.login-main body{
  font-family: "Poppins", sans-serif;
  height: 100vh;
  
}

.login-main{
  display: flex;
  background: linear-gradient(-45deg, #ee7652b7, #ae3ce7a9, #23a5d5af, #23d5abab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
 
}

.login-left{
  flex-grow: 1;
  width: 55vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left img{
  width: 400px;
  filter: drop-shadow(0 0 20px rgba(24, 55, 123, 0.57))
}

.login-right{
  width: 40vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 95vh;
 margin: 2.5vh;
  flex-grow: 1;
background: rgb(241, 241, 241);
border-radius: 15px;


}



.login-right-container{
  height: 100%;
  width: 80%;
  margin: 0 auto;
 
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.login-right form{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.login-logo{
  align-self: center;
  padding-top: 40px;
}

.login-center{
  margin: auto 0;
}

.login-logo img{
  width: 100px;
}

.login-center h2{
  font-size: 1.5rem;
  color: rgb(0, 0, 0)
}

.login-center{
  text-align: center;
}

.login-center p{
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}

.login-main form input[type='email'],
.login-main form input[type='password'],
.login-main form input[type='text']
 {
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid rgb(118, 118, 118);
  outline: none;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.pass-input-div{
  position: relative;
  overflow: hidden;
}

/*.pass-input-div svg{
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 35px;
  cursor: pointer;
  outline: none;
}*/

.login-main form button[class='button'] {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;  
  border-radius: 30px;
  font-weight: 600;
}


.login-center-options{
  display: flex;
  justify-content: space-between;
}

.remember-div{
  display:flex;
  align-items: center;
  column-gap: 5px;
}

.remember-div label{
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2px;
}

.forgot-pass-link{
  text-decoration: none;
  font-size: 0.7rem;
  color: rgb(0, 0, 0);
}

.forgot-pass-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

.login-center-buttons{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.login-center-buttons button:nth-child(1){
  background-color: black;
  color: white;
  border: 3px solid black;
}

.login-center-buttons button:nth-child(1):hover{
  
  background-color: rgb(59, 59, 59);
}

.login-center-buttons button:nth-child(2){
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
   border-bottom: 1px solid rgb(36, 36, 36)!important;
}


.login-center-buttons button:nth-child(2) img{
  width: 30px;
}

.login-center-buttons button:nth-child(2):hover{
  background-color: #0067c8;
  color: white;
}

.login-bottom-p{
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 40px;
}

.login-bottom-p a{
  text-decoration: none;
  font-weight: 600;
}

.login-bottom-p a:hover{
  text-decoration: underline;
}

.loginMessage{
  display: inline-block;
  overflow: hidden;
  color: rgb(189, 63, 122);
  font-size: 10px;
  display: flex;
  
}

.messageWidth{
  width: 100%;
  overflow: hidden;
}

.login-back{
  margin: 10px;
  padding: 7px;
  width: 50px;
  height: 50px;
  background-color: rgb(63, 117, 254);
  border-radius: 100%;
  display: flex;
  position: fixed;
  top: 0;
}

@media(max-width: 900px){
  .login-left{
      display: none;
  }   
}

@media(max-width: 370px){
  .login-center-options{
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
  }

  .login-center-buttons{
      margin-top: 20px;
  }

  .login-center h2{
      font-size: 2rem;
  }

  .login-center p{
      font-size: 0.5rem;
  }

}