/* === Sidebar Dashboard === */
.dashboard-sidebar {
  width: 238px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
  transition: width 0.3s ease;
  border-right: 2px solid rgb(95, 136, 226);
}

.dashboard-sidebar.minimized {
  width: 60px;
  padding: 20px 10px;
}

/* Título del sidebar */
.dashboard-sidebar h2 {
  font-size: 1.4rem;
  color: #1438da;
  margin-bottom: 10px;
  transition: opacity 0.3s;
}

.dashboard-sidebar.minimized h2 {
  opacity: 0;
}

/* Lista de módulos */
.dashboard-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-sidebar li {
  background-color: rgb(249, 250, 255);
  padding: 6px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s, opacity 0.3s;
  color: rgb(15, 36, 106);
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(201, 223, 255);
}

.dashboard-sidebar.minimized li {
  justify-content: center; /* centra solo el ícono */
}

.dashboard-sidebar li.active {
  background-color: #d9d9d9;
  font-weight: 600;
}

.dashboard-sidebar li:hover {
  background-color: #f0f0f0;
}

/* Botón para minimizar/expandir */
.toggle-btn {
  position: absolute;
  top: 10px;
  right: -15px; /* siempre visible fuera del sidebar */
  z-index: 1000;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, right 0.3s;
}

.toggle-btn:hover {
  background-color: #f0f0f0;
}

/* Media query para pantallas pequeñas */
@media (max-width: 500px) {
  .dashboard-sidebar {
    display: none; /* Oculta la sidebar en móviles */
  }
}
